.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
_ide_helper.php
sh_clear.sh
sh_ide.sh
sh_upd.sh
vendor/

/.env*

# User-specific stuff:
.idea/workspace.xml
.idea/workspace.xml.orig

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/modules.xml
.idea/vcs.xml

.openshift/markers/use_composer*

/_ide_helper.php

/bootstrap/cache/compiled.php
/bootstrap/cache/services.php
/node_modules
/public/storage
/sh_*.sh

/vendor/

composer.json bak
/composer.lock
config/datatables.php
config/excel.php
resources/views/layouts/master_grid.blade.php
resources/views/vendor/datatables/
