# User-specific stuff:
.idea/workspace.xml
.idea/workspace.xml.orig

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/modules.xml
.idea/vcs.xml

.openshift/nginx.conf orig.erb
.openshift/cron/
.openshift/markers/
/bootstrap/cache/compiled.php
/bootstrap/cache/services.php
/composer.json bak
/composer.lock
/resources/assets/css
/resources/assets/js
/app/Http/Controllers/Welcome2Controller.php
/config/datatables.php
/config/excel.php
/public/storage
/resources/views/layouts/app.blade*bak.php
/resources/views/layouts/master_grid.blade.php
/resources/views/vendor/datatables/
/storage/app
/storage/framework/.gitignore
/storage/framework/cache/.gitignore
/storage/framework/sessions/.gitignore
/storage/framework/views/.gitignore
/storage/logs/.gitignore
/vendor/

# root files
/.env*
/gulpfile.js
/_ide_helper.php
/sh_*.sh