# User-specific stuff:
.idea/workspace.xml
.idea/workspace.xml.orig

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/modules.xml
.idea/vcs.xml

.openshift/nginx.conf orig.erb
.openshift/cron/
.openshift/markers/
/app/Http/Controllers/Welcome2Controller.php
/bootstrap/cache/compiled.php
/bootstrap/cache/services.php
/config/datatables.php
/config/excel.php
/public/gulp_build.html
/resources/assets/css
/resources/assets/images
/resources/assets/js
/resources/views/layouts/app.blade*bak.php
/resources/views/layouts/master_grid.blade.php
/storage/logs/laravel.log
/vendor/

# root files
/.env*
/composer.json bak
/composer.lock
/_ide_helper.php
/sh_*.sh
